body {
    margin: 20px;
    padding-bottom: 50px;

}

#title {
    color: black
}

h1 {
    color: darkred;
}

h2 {
    color: red;
}

h3 {
    color: darkorange;
}


#howto {
    border: 1px solid darkred;
    padding: 20px;
    margin-bottom: 30px;
}

.examples {
    font-style: italic;
    color: blue;
}

code {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0;
  border: 1px solid black;
  overflow: hidden;
}

